<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="workspace" value="C:\Users\kevin\code"/>
		<add key="workingDirectory" value="C:\Users\kevin\Documents\Visual Studio 2017\Projects\CodeBrowserDeluxePro\CodeBrowserDeluxePro\bin\Debug"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>